//*****************************************************************//
//*                                                               *//
//*                            HACKS                              *//
//*                                                               *//
//*****************************************************************//


//**************************** Special Treatment ****************************//

// Fade between opacities for #discokugel
#InnerGroup path  {
  transition: opacity .5s;
  stroke-width: 20;
}

// Insert responsive photo
.h__photo {
  background-image: url("../imgs/space.jpeg");
  background-position: center center;
  background-size: cover;
  height: $unit_big*4;
}

// Switch order of elements
.h__guests  {
  order: 1;
}

.h__participants  {
  order: 2;
}

// Decrease logo size to fit others
.h__precious  {
  padding: 1.5rem;
}

//**************************** Responsive Fixes ****************************//

@media (max-width: $resonsiveBreakpoint) {

  // Increase Touch-Target size
  .button {
    padding: .55em 1em .5em 1em;
    margin-left: 0;
  }

  // Fix vertical rhythm
  article {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  // Fox wide to list breakpoint
  .o__identities--wide .m__identity  {
    margin-bottom: $unit_small * 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Add vertical space to right columns
  .h__responsive--marginTop {
    margin-top: $unit;
  }

  // Switch order of elements
  .h__guests  {
    order: 2;
  }

  .h__participants  {
    order: 1;
  }

  .j__timetable--short, .j__timetable--long, .j__text--short, .j__text--long  {
    min-height: 0px !important;
  }
}
