//*****************************************************************//
//*                                                               *//
//*                          ORGANISMS                            *//
//*                                                               *//
//*****************************************************************//

article {
  margin-top: $unit_big;
  margin-bottom: $unit_big;
}


//**************************** Header ****************************//

.o__header {

  img {
    max-width: 300px;
  }
}


//**************************** Footer ****************************//

.o__footer {
}


//**************************** Identities ****************************//

.o__identities {
  //margin-top: $unit;
}

.o__identities--list {
  display: inline-block;
  margin-top: $unit - 2rem;

  .m__identity  {
    margin-bottom: 3rem;

    img {
      float: left;
    }

    .m__identity__description  {
      height: $unit_big;
      display: table-cell;
      vertical-align: middle;
      padding-left: $unit_small;
      text-align: left;
    }
  }

}

.o__identities--people {
  .m__identity  {
    img {
      border-radius: 50%;
    }
  }
}


//**************************** Map ****************************//

.o__map  {
  background-image: url("../imgs/map.png");
  background-position: center center;
  background-size: cover;
}
