@import 'reset';

html  {
  height: 100%;
  font-size: 12px;
}

body  {
  height: 100%;
}

#svg  {
  width: 100%;
  height: 100%;

  path  {
    transition: stroke 1s;
  }
}

.ui {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;

  max-width: 600px;
  margin: 0 auto;

  padding: 2rem;
  border-radius: .5rem;
  background-color: white;
  color: black;
  font-family: sans-serif;

  opacity: .4;
  transform: translateY(90%);
  transition: all .4s;

  &:hover {
    opacity: 1;
    transform: translateY(0%);
  }

  input {
    width: 100%;
  }

  p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;

    &:first-child {
      margin-top: 0;
    }
  }
}
